.component{
  display: none;
  position: absolute;
  left: 30%;
  width: 30%;
  background-color: #fff;
  box-sizing: border-box;
  height: 40%;
  width: 40rem;
  border-radius: 1rem;
  border: 0.17rem solid #6b6b69;
  padding: 2rem 0.5rem;
}

input{
  width: 80%;
  margin: 1%;
  height: 2.8rem;
  border: 0.17rem solid #999997;
  font-size: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 0.3rem;
}

.component button{
  width: 81%;
  height: 2.5rem;
  margin-top: 2rem;
  background-color:#222936 ;
  color: #f3f3f3;
}

.visible{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;

}
