.task-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  border: 0;
  background-color: #ffff;
}

.top-bar{
  display: flex;
  flex-direction: row;
}

.top-bar .add-btn{
  font-size: 2rem;
  font-size: 200;
  background-color: #f3f3f3;
  border: 0;
  margin-left: auto;
  height: 3.5rem;
  width: 3rem;
  padding: inherit;
}

.content{
  display: flex;
  flex-direction: row;
}
